<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style='color: red'> agora sim ein fihão </h1>
    <hr>
    <p> Esse pdf tem muito conteúdo ein </p>
    <p>Nome: <%= nomeDoUsuario %> </p>
    <p>Nome: <%= curso %> </p>
    <p>curso: <%= categoria %> </p>
    <img src="http://1.bp.blogspot.com/-qdCW3Ppg-js/UYxddqocG5I/AAAAAAAAA18/WbZIxh8I8V0/s1600/Pedreira.jpg"/>
</body>
</html>